* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cube {
    margin: 0.1em;
    background-color: green;
    height: 3em;
    width: 3em;
    animation: box-rotation infinite 5s;
}

@keyframes box-rotation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        margin: 1em;
        transform: rotate(45deg);
    }

    50% {
        margin: 1em;
        transform: rotate(135deg);
    }

    75% {
        margin: 1em;
        transform: rotate(225deg);
    }

    100% {
        margin: 1em;
        transform: rotate(315deg);
    }

}