*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    gap: 25px;
    background-color: black;
}

li{
    padding: 23px;
}

a li {  
    color: white;
}

li{
    list-style: none;
}

.red{
    background-color: red;
    color:white
}